extends layout

block content
  h1= title
  - let kites = [{kiteName:"Deltakites" , kiteCost: 50, quantityAvailable: 400},{kiteName:"Diamondkites", kiteCost: 100, quantityAvailable: 30},{kiteName:"Foilkites",kiteCost: 200, quantityAvailable: 2}]
  div(class="container-fluid mt-3")
  div(class="row")
    each kite,index in kites
       div(class="col-sm-2" onclick=`buy(${index})`)  #{kite.kiteName} -  #{kite.kiteCost} - #{kite.quantityAvailable} 
    script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }     
 


